In [1]:
import pandas as pd
df = pd.read_excel("http://taanila.fi/kunnat.xlsx") 
df.head(11) # 10 ensimmäistä kuntaa

,Kunta,"Taajama-aste, %, 2017","Väkiluku, 2018","Väkiluvun muutos edellisestä vuodesta, %, 2018","Alle 15-vuotiaiden osuus väestöstä, %, 2018","15-64 -vuotiaiden osuus väestöstä, %, 2018","Yli 64-vuotiaiden osuus väestöstä, %, 2018","Ruotsinkielisten osuus väestöstä, %, 2018","Ulkomaan kansalaisten osuus väestöstä, %, 2018","Syntyneiden enemmyys, henkilöä, 2018",...,"Alueella olevien työpaikkojen lukumäärä, 2016","Alkutuotannon työpaikkojen osuus, %, 2016","Jalostuksen työpaikkojen osuus, %, 2016","Palvelujen työpaikkojen osuus, %, 2016","Työpaikkaomavaraisuus, 2016","Vuosikate, euroa/asukas, 2017","Lainakanta, euroa/asukas, 2017","Konsernin lainakanta, euroa/asukas, 2017","Opetus- ja kulttuuritoiminta yhteensä, nettokäyttökustannukset, euroa/asukas, 2017","Sosiaali- ja terveystoiminta yhteensä, nettokäyttökustannukset, euroa/asukas, 2017"
0,Akaa,88.5,16611,-0.9,17.7,59.4,22.9,0.2,1.7,-87,...,4512,3.3,35.6,59.5,67.8,370.2,3139.1,3927.7,1579.9,3231.2
1,Alajärvi,60.7,9700,-1.3,17.4,55.4,27.2,0.1,2.1,-49,...,3330,11.6,26.4,59.9,96.8,674.0,2152.1,4235.1,2152.6,3579.3
2,Alavieska,52.6,2573,-1.4,19.4,57.0,23.7,0.2,0.6,-4,...,741,24.4,21.6,52.0,75.6,276.2,2988.9,3182.4,1837.5,3995.8
3,Alavus,59.5,11544,-1.4,17.0,56.1,26.9,0.1,1.1,-65,...,4355,9.9,23.3,65.6,99.5,466.4,3307.6,6004.2,1780.8,3886.5
4,Asikkala,64.4,8149,-1.2,14.2,53.6,32.2,0.2,1.7,-70,...,2318,9.4,27.4,60.8,75.7,577.5,1453.7,3014.4,1607.9,3476.6
5,Askola,53.2,4958,-0.6,20.1,60.9,19.1,3.4,1.7,0,...,1373,8.7,38.2,51.0,61.3,166.1,3894.0,4928.7,2014.0,2912.2
6,Aura,69.9,3984,-0.2,19.8,61.6,18.6,0.7,2.4,2,...,1127,5.2,34.3,57.9,63.3,700.8,3000.8,3702.1,1719.9,2723.1
7,Brändö,0.0,449,-0.7,9.1,57.2,33.6,73.3,8.5,-6,...,147,23.8,13.6,55.1,69.0,1066.4,522.1,0.0,2533.2,1781.0
8,Eckerö,41.8,961,1.4,14.4,60.2,25.4,88.7,12.9,-2,...,261,10.7,14.6,65.9,57.9,620.3,644.5,0.0,2123.4,2368.1
9,Enonkoski,39.9,1405,-0.8,11.9,50.2,37.9,0.1,1.8,-16,...,378,22.0,6.9,68.5,77.8,456.2,0.0,766.2,1607.3,4774.7
10,Enontekiö,30.7,1852,-2.2,12.6,59.9,27.5,0.9,2.0,-14,...,626,11.2,11.7,73.8,85.9,607.0,2383.0,5492.3,2375.6,4280.0

In [2]:
kunnat = df.count()
kunnat

Kunta                                                                                     311
Taajama-aste, %, 2017                                                                     311
Väkiluku, 2018                                                                            311
Väkiluvun muutos edellisestä vuodesta, %, 2018                                            311
Alle 15-vuotiaiden osuus väestöstä, %, 2018                                               311
15-64 -vuotiaiden osuus väestöstä, %, 2018                                                311
Yli 64-vuotiaiden osuus väestöstä, %, 2018                                                311
Ruotsinkielisten osuus väestöstä, %, 2018                                                 311
Ulkomaan kansalaisten osuus väestöstä, %, 2018                                            311
Syntyneiden enemmyys, henkilöä, 2018                                                      311
Kuntien välinen muuttovoitto/-tappio, henkilöä, 2018                                      311
Perheiden lukumäärä, 2018                                                                 311
Asuntokuntien lukumäärä, 2018                                                             311
Rivi- ja pientaloissa asuvien asuntokuntien osuus, %, 2018                                311
Vuokra-asunnoissa asuvien asuntokuntien osuus, %, 2017                                    311
Vähintään toisen asteen tutkinnon suorittaneiden osuus 15 vuotta täyttäneistä, %, 2017    311
Korkea-asteen tutkinnon suorittaneiden osuus 15 vuotta täyttäneistä, %, 2017              311
Alueella asuvan työllisen työvoiman määrä, 2017                                           311
Työllisyysaste, %, 2017                                                                   311
Asuinkunnassaan työssäkäyvien osuus, %, 2016                                              311
Työttömien osuus työvoimasta, %, 2017                                                     311
Eläkeläisten osuus väestöstä, %, 2017                                                     311
Taloudellinen huoltosuhde, 2017                                                           311
Alueella olevien työpaikkojen lukumäärä, 2016                                             311
Alkutuotannon työpaikkojen osuus, %, 2016                                                 311
Jalostuksen työpaikkojen osuus, %, 2016                                                   311
Palvelujen työpaikkojen osuus, %, 2016                                                    311
Työpaikkaomavaraisuus, 2016                                                               311
Vuosikate, euroa/asukas, 2017                                                             311
Lainakanta, euroa/asukas, 2017                                                            311
Konsernin lainakanta, euroa/asukas, 2017                                                  311
Opetus- ja kulttuuritoiminta yhteensä, nettokäyttökustannukset, euroa/asukas, 2017        311
Sosiaali- ja terveystoiminta yhteensä, nettokäyttökustannukset, euroa/asukas, 2017        311
dtype: int64

In [3]:
df.shape[0] # Kuntien lukumäärä

311

In [4]:
df["Taajama-aste"] = df["Taajama-aste, %, 2017"]
df_taajama = df[['Kunta','Taajama-aste']]
df_taajama.head()

       Kunta  Taajama-aste
0       Akaa          88.5
1   Alajärvi          60.7
2  Alavieska          52.6
3     Alavus          59.5
4   Asikkala          64.4

In [5]:
df[["Kunta", "Taajama-aste"]].sort_values(by="Taajama-aste", ascending=False).head(10)

             Kunta  Taajama-aste
83      Kauniainen         100.0
33        Helsinki         100.0
66       Järvenpää          99.9
91          Kerava          99.8
291         Vantaa          99.7
151  Maarianhamina          99.6
11           Espoo          99.5
86            Kemi          99.5
219         Raisio          99.3
80        Kaskinen          99.3

In [6]:
df[["Kunta", "Taajama-aste"]][df["Taajama-aste"]>=60].sort_values(by="Taajama-aste", ascending=False)

             Kunta  Taajama-aste
83      Kauniainen         100.0
33        Helsinki         100.0
66       Järvenpää          99.9
91          Kerava          99.8
291         Vantaa          99.7
151  Maarianhamina          99.6
11           Espoo          99.5
86            Kemi          99.5
219         Raisio          99.3
80        Kaskinen          99.3
276          Turku          99.0
268        Tampere          98.6
196    Pietarsaari          98.3
107          Kotka          98.2
288          Vaasa          98.0
198       Pirkkala          97.6
49          Imatra          97.4
123          Lahti          97.4
227      Riihimäki          97.2
26           Hanko          96.6
180           Oulu          96.4
90         Kempele          96.3
278        Tuusula          95.5
63       Jyväskylä          94.7
67         Kaarina          94.7
40        Hyvinkää          93.9
201           Pori          93.6
27      Harjavalta          92.8
222          Rauma          92.5
292        Varkaus          92.1
..             ...           ...
202      Pornainen          66.1
271          Teuva          66.0
84       Kaustinen          65.8
50           Inari          65.6
173         Nurmes          65.4
163       Mynämäki          65.3
82         Kauhava          65.2
170         Nivala          65.1
56       Jokioinen          64.7
30       Hausjärvi          64.7
118        Kuusamo          64.5
4         Asikkala          64.4
146       Lumijoki          64.3
252      Sodankylä          63.6
111          Kuhmo          63.5
57          Jomala          63.0
13        Eurajoki          62.9
167     Mäntyharju          62.7
116        Kurikka          62.4
260    Suomussalmi          62.3
309         Ähtäri          62.2
149        Luumäki          61.9
200       Pomarkku          61.7
230     Ruokolahti          61.2
41      Hämeenkyrö          61.0
1         Alajärvi          60.7
256        Sotkamo          60.2
285  Uusikaarlepyy          60.2
38        Humppila          60.1
45           Iitti          60.0

[156 rows x 2 columns]

In [7]:
df["Taajama-aste"] = df["Taajama-aste, %, 2017"]
df_taajamat = df[['Kunta','Taajama-aste']][df["Taajama-aste"]>=50]
df_taajamat_1 =df_taajamat[['Kunta','Taajama-aste']][df_taajamat["Taajama-aste"]<60].sort_values(by="Taajama-aste", ascending=False)
df_taajamat_1.head(40)

           Kunta  Taajama-aste
46     Ikaalinen          59.9
100     Kokemäki          59.5
184      Paltamo          59.5
20     Haapavesi          59.5
3         Alavus          59.5
59        Joutsa          58.9
234   Saarijärvi          58.1
175       Närpiö          58.1
155   Merikarvia          58.0
264  Taipalsaari          58.0
119     Kyyjärvi          57.7
135   Leppävirta          57.6
58      Joroinen          57.4
97       Kittilä          57.2
299   Viitasaari          57.0
254       Somero          56.8
295    Vesilahti          56.4
140       Liperi          56.4
112    Kuhmoinen          56.3
215      Pälkäne          56.3
208     Puolanka          56.3
225    Rautjärvi          55.8
213      Pyhäntä          55.8
143        Loppi          55.6
96         Kitee          55.4
39    Hyrynsalmi          55.3
193   Petäjävesi          55.3
110    Kruunupyy          54.5
48     Ilomantsi          54.3
28       Hartola          54.1
212    Pyhäjärvi          54.1
249         Simo          53.7
99     Kivijärvi          53.6
21      Hailuoto          53.5
106     Koski Tl          53.4
132         Lemi          53.2
5         Askola          53.2
244        Sievi          53.1
240  Savitaipale          53.0
190        Pello          53.0

In [8]:
df["Taajama-aste"] = df["Taajama-aste, %, 2017"]
df["Ruotsinkieliset"] = df["Ruotsinkielisten osuus väestöstä, %, 2018"]
df_ruotsi = df[["Kunta","Ruotsinkieliset", "Taajama-aste"]][df["Ruotsinkieliset"]>=50]
df_ruotsi = df_ruotsi.sort_values(by="Ruotsinkieliset", ascending=False)
df_ruotsi.head(30).sort_values(by="Taajama-aste", ascending=False)

                  Kunta  Ruotsinkieliset  Taajama-aste
151       Maarianhamina             83.5          99.6
196         Pietarsaari             56.3          98.3
148               Luoto             92.0          87.8
161          Mustasaari             68.7          79.9
218           Raasepori             64.6          78.6
188    Pedersören kunta             89.0          73.2
150            Maalahti             85.2          70.5
185            Parainen             55.2          67.6
109  Kristiinankaupunki             54.4          67.2
105             Korsnäs             85.8          67.2
57               Jomala             88.9          63.0
285       Uusikaarlepyy             86.4          60.2
175              Närpiö             79.7          58.1
110           Kruunupyy             77.7          54.5
237             Saltvik             92.1          51.6
89          Kemiönsaari             68.5          51.5
304               Vöyri             80.6          51.0
24           Hammarland             90.2          43.0
8                Eckerö             88.7          41.8
15             Finström             89.8          41.5
133             Lemland             91.7          29.3
122               Kökar             85.6           0.0
18                 Geta             87.2           0.0
147          Lumparland             84.6           0.0
17                Föglö             83.5           0.0
259                Sund             87.9           0.0
113            Kumlinge             87.9           0.0
7                Brändö             73.3           0.0
257            Sottunga             91.2           0.0
303               Vårdö             85.5           0.0

In [23]:
tulos= df_ruotsi["Taajama-aste"].mean()
print(round(df_ruotsi["Taajama-aste"].mean(), 1))

44.4

In [10]:
df_ruotsi.loc[:,"Taajama-aste"].median()

51.5